button {
    outline: none !important;
}

.stylefix {
    position: relative;
    box-sizing: border-box;
}

.stylefix * {
    position: relative;
    box-sizing: border-box;
}

.full-absolute {
    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
}

.full {
    width: 100% !important;
    height: 100% !important;
}

.center {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translateX(-50%) translateY(-50%) !important;
}

.center-y {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.bg-black-025 {
    background-color: rgba(0,0,0,0.25) !important;
}

.bg-black-050 {
    background-color: rgba(0,0,0,0.5) !important;
}

.bg-black-075 {
    background-color: rgba(0,0,0,0.75) !important;
}

.bg-white-025 {
    background-color: rgba(255,255,255,0.25) !important;
}

.bg-white-050 {
    background-color: rgba(255,255,255,0.5) !important;
}

.bg-white-075 {
    background-color: rgba(255,255,255,0.75) !important;
}

.z-0 {
    z-index: 0 !important;
}

.z-10 {
    z-index: 10 !important;
}

.z-20 {
    z-index: 20 !important;
}

.z-30 {
    z-index: 30 !important;
}

.z-40 {
    z-index: 40 !important;
}

.z-50 {
    z-index: 50 !important;
}

.z-auto {
    z-index: auto !important;
}

.absolute {
    position: absolute !important;
}

.change-transform {
    will-change: transform !important;
}

.change-opacity {
    will-change: opacity !important;
}

.change-transform .change-opacity {
    will-change: opacity, transform !important;
}

.change-opacity .change-transform {
    will-change: opacity, transform !important;
}

.transition-250 {
    transition: all 250ms ease !important;
}

.transition-500 {
    transition: all 500ms ease !important;
}

.transition-1000 {
    transition: all 1000ms ease !important;
}

.bg-cover {
    background-size: cover !important;
}

.bg-center {
    background-position: center !important;
}

.bg-blur {
    backdrop-filter: blur(10px);
}

body {
    will-change: scroll-position !important;
}